server:
  port: 8989

spring:
  profiles:
    active: local

  data:
    mongodb:
      uri: mongodb+srv://xzxz7003:ZUPlcHsd4FbDm1Ir@cleaningtask.t9u01hs.mongodb.net/itnj?retryWrites=true&w=majority&appName=cleaningtask
